html, body
{
	height:97%;
}

#page {
	padding-top: 5%; 
    position:relative;
	min-height: 95%;
}

* html #page {height: 95%;}

#content{
	padding-bottom: 50px;
}

#footer
{
	font-size: 0.8em;
	text-align: left;
	line-height:15px;
	padding: 10px 0;
	width: 100%;
	position:absolute;
	bottom:0;
	border-top: 1px solid #d5d5d5; 
}

h1{
	margin-top: 0;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}
