html, body
{
	height:97%;
}

#page {
	padding-top: 5%; 
    position:relative;
	min-height: 95%;
}

* html #page {height: 95%;}

#content{
	padding-bottom: 50px;
}

#footer
{
	font-size: 0.8em;
	text-align: left;
	line-height:15px;
	padding: 10px 0;
	width: 100%;
	position:absolute;
	bottom:0;
	border-top: 1px solid #d5d5d5; 
}